# These owners will be the default owners for everything in the repo
* @iamkavindu

# Critical configuration files
/next.config.ts @kavindu-pere
/.github/workflows/ @kavindu-pere
/public/data/ @kavindu-pere